{% extends "photologue/root.html" %}

{% block title %}Photos for {{ month|date:"F Y" }}{% endblock %}

{% block headline %}
<h2 class="content_headline">Photos for {{ month|date:"F Y" }}</h2>
{% endblock %}

{% block content %}

{% if object_list %}
    <div class="gallery_list">
    {% for photo in object_list %}
    <div class="gallery-photo">
        <a href="{{ photo.get_absolute_url }}"><img src="{{ photo.get_thumbnail_url }}" alt="{{ photo.title }}"/></a>
    </div>
    {% endfor %}
    </div>
{% else %}
<p>No photos were found.</p>
{% endif %}
<div class="bottom_pagination">
<p><a href="{% url pl-photo-list 1 %}">View all photographs</a></p>
</div>
{% endblock %}
