{% extends "base.html" %}

{% block title %}Account activation {% endblock %}

{% block sectionhead %}

<h1>Account Activated</h1>

{% endblock %}

{% block content %}

<h2>Your account is now activated. </h2>
<p>You may login using your username and password in the form to the right of this notice. </p>
<p>Although you may login, we must personally review your account before we grant access to private information. </p>
<p>We will send you an email after we grant the extra access. If you have not heard from us after several days feel free to email us at bizmail@jlindseyfamily.net. Thank you. </p>

{% endblock %}