{% extends "base.html" %}

{% block title %}Registration complete{% endblock %}

{% block sectionhead %}

<h1>Your registration is complete</h1>

{% endblock %}

{% block content %}

<h2>Thank you for registering<h2>
<p>An email with a link and activation code has been sent to your inbox. Please copy and past this link into your browser.</p>
<p>Although your username and password will work after you activate the account, we must grant access for you to view private content. </p>
<p>Please be patient. We personally review every registration before granting access to protect our family's privacy. </p>

{% endblock %}