{% extends "books/base_books.html" %}


{% block title %}Books{% endblock %}


{% block content_title %}
  <h2>Books</h2>
  {% include "books/_nav.html" %}
{% endblock %}


{% block content %}
  {% load markup %}
  {% for object in object_list %}
    <div class="object_list_style">

      <h3>{{ object.full_title }}
        {% if object.subtitle %}<em>{{ object.subtitle }}</em>{% endif %}</h3>

      <div class="left_column">
      {% if object.cover %}
      <a class="cover" href="{{ object.amazon_url }}"><img src="{{ object.cover.url }}" alt="Book cover"></a>
      {% else %}
      <div class="no_cover"></div>
      {% endif %}

      <ul class="info_list">
        <li>Author{{ object.authors.all|pluralize }}: {% for author in object.authors.all %}<a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        <li>Publisher: {% if object.publisher.website %}<a href="{{ object.publisher.website }}">{% else %}<a href="{{ object.publisher.get_absolute_url }}">{% endif %}{{ object.publisher.full_title }}</a></li>
        <li>Released: {{ object.published|date:"d F Y" }}</li>
        <li>Pages: {{ object.pages }} {% if not object.has_read %}on page {{ object.bookmark }}{% endif %}</li>
        <li>Genre: {% for genre in object.genre.all %}{{ genre.title }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
        {% if object.isbn %}<li>ISBN: {{ object.isbn }} (<a href="{{ object.amazon_url }}">Amazon</a>)</li>{% endif %}
      </ul>
      </div>
      {% if object.description %}
      <div class="description">
        <h4>Description</h4>
        {{ object.description|markdown:"safe" }}
      </div>
      {% endif %}
    <div class="clr_all"></div>
    </div>
  {% endfor %}

{% endblock %}