{% extends "documents/base_documents.html" %}


{% block title %}{{ object.title }}{% endblock %}


{% block headline %}
  <h2>{{ object.title }}</h2>
{% endblock %}


{% block content %}
{% ifequal object.status 1 %}
  <div class="documents document_detail">
  {% if object.still %}
  <a href="{{ object.document.url }}"><img src="{{ object.still.url }}" alt="Document image" /></a>
  {% else %}{% if object.types %}<a href="{{ object.document.url }}"><img src="{{ object.types.still.url }}" alt="{{ object.types.title }} image" /></a>{% endif %}
  {% endif %}
  <h3><a href="{{ object.document.url }}">{{ object.title }}</a></h3>
  <p class="date"><strong>Uploaded: {{ object.uploaded|date:"M. d Y" }}</strong></p>
  <p class="description">{{ object.description }}</p>
  <p class="download"><a href="{{ object.document.url }}">>>Download</a></p>
  </div>
{% endifequal %}
{% endblock %}